<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MagusXIX</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />

    <%- scriptLink('/js/jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/jquery.noisy.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/three/three.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/three/THREEx.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/three/detector.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/three/datgui.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/config/init.js', {type: 'text/javascript'}) %>

    <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>

    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

  </head>

